[submodule "kernel-scripts"]
	path = kernel-scripts
	url = https://github.com/SciresM/kernel-scripts
[submodule "loaders"]
	path = loaders
	url = https://github.com/reswitched/loaders
[submodule "switch-reversing"]
	path = switch-reversing
	url = https://github.com/hthh/switch-reversing
